<%- include('../layout/head'); %>
    
<div class="container-fluid mt-5 mb-5">
    <div class="row">
        <!-- Article -->
        <% for(let i=0; i < product.getData.length; i++) { %>
            <div class="col-md-3 col-12 mb-4 d-flex align-items-stretch">
                <div class="card w-100">
                    <img class="card-img-top" src="https://via.placeholder.com/250x150" alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title">
                        <%= product.getData[i].name %>
                    </h5>
                    <p class="card-text">
                        <%= product.getData[i].description %>
                    </p>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            Rp. <%= product.getData[i].price %>
                        </p>
                        <a data-toggle="modal" data-target="#editProduk<%= product.getData[i].id %>" class="card-link" style="cursor: pointer;">Edit</a>
                        <a data-toggle="modal" data-target="#deleteProduk<%= product.getData[i].id %>" class="card-link text-danger" style="cursor: pointer;">Delete</a>
                    </div>
                </div>
            </div>

            <!-- Modal Update Produk -->
            <div class="modal fade" id="editProduk<%= product.getData[i].id %>" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Edit Product</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="/productUpdate" method="post">
                                <input name="id" value="<%= product.getData[i].id %>" hidden>
                                <div class="form-group">
                                    <label>Title</label>
                                    <div class="input-group">
                                        <input id="validationServerUsername" value="<%= product.getData[i].name %>" name="name" type="text" class="form-control" placeholder="Enter title" aria-describedby="inputGroupPrepend3" required>
                                    </div>
                                </div>
                
                                <div class="form-group">
                                    <label>Description</label>
                                    <div class="input-group">
                                        <textarea id="validationServerUsername" name="description" class="form-control" plceholder="Enter description" rows="3" required>
                                            <%= product.getData[i].description %>
                                        </textarea>
                                    </div>
                                </div>
                
                                <div class="form-group">
                                    <label>Price</label>
                                    <div class="input-group">
                                        <input id="validationServerUsername" value="<%= product.getData[i].price %>" name="price" type="text" class="form-control" placeholder="Enter price" aria-describedby="inputGroupPrepend3" required>
                                    </div>
                                </div>
                
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button class="btn btn-primary" type="submit">Update</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div> 
            </div>
            
            <!-- Delete Produk -->
            <div class="modal fade" id="deleteProduk<%= product.getData[i].id %>" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Delete Product</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Anda yakin mau menghapus data ini?
                        </div>
                        <div class="modal-footer">
                            <form action="/productDelete" method="post">
                                <input name="id" value="<%= product.getData[i].id %>" hidden>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button class="btn btn-primary" type="submit">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        <% } %>
    
        <% if(product.length === 0 || product.getData.length == '' ) { %>
            <div class="col-12 mb-3">
                <h5 class="card-title mb-0 text-center">No product data</h5>
            </div>
        <% } %>
    </div>

    <div class="row">
        <div class="col-12">
            <!-- Pagination -->
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li
                        <% if(product.currentPage <= 0) { %>
                        class="page-item disabled"
                        <% } %>
                        >
                        <a href="?page=<%= product.currentPage <= 0 ? 0 : product.currentPage - 1 %>" class="page-link">
                            Previous
                        </a>
                    </li>
                    <% for(let i=0; i < product.totalPages; i++) { %>
                        <li
                            <% if(product.currentPage == i) { %>
                            class="page-item active"
                            <% } %>
                            >
                            <a href="/?page=<%= i %>" class="page-link">
                                <%= i + 1 %>
                            </a>
                        </li>
                    <% } %>
                    <li
                        <% if(product.currentPage > product.getData - 1) { %>
                            class="page-item disabled"
                        <% } %>
                        >
                        <a href="/?page=<%= product.currentPage > product.getData - 1 ? parseInt(product.getData) : 1 + parseInt(product.currentPage) %>" class="page-link">
                            Next
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="tambahProduk" tabindex="-1" role="dialog" aria-hidden="true">
        <%- include('./modals/tambahProduk'); %>
    </div>

</div>

<script>
    async function handleSelect(values) {
        $(document).ready(async function(){
            window.location.href = '/?limits=' + values;
        });
    }
 </script>

<%- include('../layout/footer'); %>